.ui.tabular.menu {
  border-bottom: 1px solid $primary;
}

.ui.tabular.menu .active.item {
  background: $primary;
  border-left: 1px solid $primary;
  border-right: 1px solid $primary;
  border-top: 2px solid $primary;
}

.ui.raised.segment,
.ui.raised.segments {
  background-color: #242038;
  color: #8e8dbe;
  padding: 5%;
}

.ui.violet.ribbon.label {
  position: absolute;
  top: 7.5%;
  left: -1.85%;
}
