.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  width: 100%;
  background-color: black;
  -webkit-box-shadow: 3px 3px 5px 3px #772D8B;
          box-shadow: 3px 3px 5px 3px #772D8B;
}

.nav-bar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75%;
  width: 75%;
}

.nav-bar div h1 {
  color: #EAE8FF;
}

.nav-bar div a svg {
  height: 50px;
  width: auto;
}

.home-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
}

.home-page main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
  width: 90%;
}

.home-page main h1 {
  cursor: pointer;
  color: #772D8B;
  font-weight: lighter;
}

.home-page main hr {
  width: 90%;
  margin-bottom: 2%;
}

.home-page main section {
  height: 90%;
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-column-gap: 25px;
          column-gap: 25px;
  row-gap: 10px;
}

.quote-card {
  height: 24vh;
  padding: 8%;
  border: 1px dotted #772D8B;
  -webkit-box-shadow: 5px 5px 5px 5px silver;
          box-shadow: 5px 5px 5px 5px silver;
}

.quote-card p {
  color: black;
}

.quote-card:hover {
  -webkit-box-shadow: 6px 6px 8px 8px gray;
          box-shadow: 6px 6px 8px 8px gray;
}

.quote-content {
  font-size: 18px;
}

.quote-author {
  font-size: 15px;
  font-style: italic;
  text-align: right;
}

.quote-author:hover {
  color: #772D8B;
}

.tag-card {
  background-color: #772D8B;
  color: #EAE8FF;
  padding: 3% 5%;
  font-size: 20px;
  text-align: center;
  border: 1px solid #772D8B;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.tag-card:hover {
  background-color: #EAE8FF;
  color: #772D8B;
}

body {
  min-height: 100vh;
  width: 100%;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #EAE8FF;
}
/*# sourceMappingURL=App.css.map */