#colorPalette{
  color: #0F1108;
  color: #FED766;
  color: #009FB7;
  color: #696773;
  color: #EFF1F3;
}

body {
  margin: 0;
  font-family: oblique;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #009FB7;
  text-align: center;
  width: 100%;
}

h1{
  font-size: 2.6em;
  font-family: oblique;
}

#quotes{
  padding: 1%;
  width: 65%;
  margin: auto;
}

.showBar{
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}

.ui.card>.content{
  background-color: #696773;
}

.ui.card>.content.extra {
  background-color: #696773;
  font-style: italic;
}

.ui.card>.content>.description{
  color: #EFF1F3;
}

.ui.segment {
  min-height: 100vh;
  margin: 0 auto;
}

