@import "./variables";
@import "./navbar";
@import "./home";
@import "./card";
@import "./form";
@import "./footer";

body {
  background: radial-gradient(silver, white);
  color: $secondary;
  text-align: center;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  font-size: 62.5%;
  font-family: "Libre Caslon Display", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  min-height: 100vh;
  padding-bottom: 5vh;
  position: relative;
}

h1 {
  font-size: 4.5em;
  a {
    color: $secondary;
    font-family: "Libre Caslon Display", serif;
    &:hover {
      text-decoration: none;
      color: #242038;
    }
  }
}

h2 {
  font-size: 4rem;
  font-family: "Libre Caslon Display", serif;
}

h3 {
  font-size: 3.5rem;
  font-family: "Libre Caslon Display", serif;
}

h4 {
  font-size: 3rem;
  font-family: "Libre Caslon Display", serif;
}

h5 {
  font-size: 2rem;
  font-family: "Libre Caslon Display", serif;
}

p {
  font-size: 2rem;
  font-family: "Libre Caslon Display", serif;
}

ul {
  font-size: 1.65rem;
  font-style: italic;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

#quotes {
  padding: 1% 5%;
  width: 90%;
  margin: auto;
  vertical-align: top;
}

.add-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  width: 85%;
  margin: auto;
  padding: 1%;
}

.form-container {
  background-color: $primary;
  border-radius: 10%;
  padding: 1% 5% 2% 5%;
  flex-basis: 45%;
  margin: auto;
  margin-bottom: 2vh;
  min-height: 55vh;
}

.tagsList {
  background-color: $primary;
  color: $secondary;
  border-radius: 10%;
  padding: 1% 5% 2% 5%;
  flex-basis: 45%;
  margin: auto;
  min-height: 55vh;
}

.single-quote {
  width: 65%;
  font-style: italic;
  margin: auto;
  padding: 2%;
}

.quote-box {
  border: 2px dotted #242038;
  font-size: 1.45em;
  margin: 2% auto;
  padding: 1%;
  width: 75%;
}

.quote-tags {
  display: block;
  margin-bottom: 1vh;
}

.emptyAlerts {
  width: 75%;
  margin: auto;
}

.is-active {
  background-color: $primary;
}

.active-view {
  font-weight: bold;
}

/* FORM */

.ui.form .field .ui.input input,
.ui.form .fields .field .ui.input input {
  font-family: "Libre Caslon Display", serif;
}

.ui.form .fields {
  display: flex;
  justify-content: center;
  font-size: 1.15em;
}

.ui.form .field {
  display: inline-block;
}

.ui.form .field label {
  font-size: 1.15em;
  color: $primary;
  margin: 1vh;
}

.ui.form .field button {
  color: $secondary;
  font-family: "Libre Caslon Display", serif;
  margin-top: 2vh;
}

/* Form select container */
.css-2b097c-container {
  font-size: 1.15em;
  font-family: "Libre Caslon Display", serif;
  color: $primary;
  width: 52%;
  margin: auto;
  padding: 1vh;
}

/* CARD */

.ui.card {
  width: 90%;
  margin: 2%;
  border: 1px dotted $secondary;
}

.card-content {
  background-color: $primary;
  color: $secondary;
  font-size: 1.65rem;
  padding: 2%;
  border-top: 0.5px dotted silver;
  &:hover {
    color: $tertiary;
    text-decoration: none;
  }
}

/* EDIT QUOTE STYLES */

.edit-container {
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  padding: 3% 1%;
  width: 95%;
}

.edit-box {
  flex-basis: 45%;
  border: 2px dotted $secondary;
  padding: 2% 1%;
  margin: auto;
  margin-bottom: 2%;
}
