#colorPalette{
  color: #7A306C;
  color: #8E8DBE;
  color: #A9E4EF;
  color: #C1CEFE;
  color: #7189FF;
}

body {
  margin: 0;
  font-family: oblique;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #7A306C;
  background-color: #8E8DBE;
  text-align: center;
  width: 100%;
}

h1{
  font-size: 2.6em;
  font-family: oblique;
}

h4{
  font-size: 1.1em;
  font-family: oblique;
  text-decoration: underline;
}

.home{
  position: fixed;
  top: 0;
  left: 0;
  padding: 1%;
  cursor: pointer;
}

.add{
  position: fixed;
  top: 0;
  right: 0;
  padding: 1%;
  cursor: pointer;
}

#quotes{
  padding: 1% 5%;
  width: 90%;
  margin: auto;
  vertical-align:top;
}

.ui.card{
  width: 90%;
  margin: 2%;
}

.ui.card>.content{
  background-color: #A9E4EF;
  font-size: 1.15em;
}

.ui.card>.content.extra {
  background-color: #A9E4EF;
  font-style: italic;
}

.ui.card>.content>.description{
  color: #7189FF;
}

.ui.form {
  display: inline-block;
  position: absolute;
  width: 50%;
  top: 16%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}

#tagForm{
  top: 78%;
}

.tagsList{
  display: inline-block;
  position: absolute;
  width: 20%;
  top: 18%;
  left: 95%;
  -webkit-transform: translateX(-95%);
  transform: translateX(-95%)
}

.ui.form .field{
  font-size: 1.15em; 
  display: inline-block;
}

.ui.form .field label {
  font: 1.1em oblique;
  color: #7A306C;
  margin-top: 2%;
}

.ui.form .field button {
  font: 1em oblique;
  color: #7A306C;
  margin-top: 3%;
}

.loading{
  transform: translate(-50%,-50%);
  position: fixed;
  top: 50%;
  left: 50%;
}

.ui .icon{
  color: #009FB7;
}

.ui .menu .item{
  position: static;
}

