body {
  margin: 0;
  font-family: oblique;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #7a306c;
  background-color: #8e8dbe;
  text-align: center;
  width: 100%;
}

a{
  color: #7a306c;
}

a:hover{
  text-decoration: none;
  color: #242038;
}

h1 {
  font-size: 2.6em;
  font-family: oblique;
}

h2 {
  font-family: oblique;
}

h3 {
  font-size: 1.5em;
  font-family: oblique;
  margin-top: 2%;
}

h4 {
  font-size: 1.1em;
  font-family: oblique;
  text-decoration: underline;
}

ul {
  list-style: none;
  text-align: left;
}

.ui.card {
  width: 90%;
  margin: 2%;
}

.ui.card > .content {
  background-color: #242038;
  font-size: 1.15em;
}

.ui.card > .content.extra {
  background-color: #242038;
  font-style: italic;
}

.ui.card > .content > .description {
  color: #8e8dbe;
}

#quotes {
  padding: 1% 5%;
  width: 90%;
  margin: auto;
  vertical-align: top;
}

#tagForm {
  top: 78%;
}

.ui.form .field {
  font-size: 1.15em;
  display: inline-block;
}

.ui.form .field label {
  font: 1.1em oblique;
  color: #8e8dbe;
  margin: 2%;
}

.ui.form .field button {
  font: 1em oblique;
  color: #7a306c;
  margin-top: 3%;
}

.form-container {
  border: 3px solid #8e8dbe;
  border-radius: 15%;
  width: 60%;
  display: inline-block;
  position: absolute;
  padding: 1% 5% 2% 5%;
  top: 18%;
  left: 40%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #242038;
  color: #8e8dbe;
}

/* Form select container */
.css-2b097c-container {
  margin-top: 2%;
  font-size: 1.15em;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #8e8dbe;
}

.tagsList {
  border: 3px solid #8e8dbe;
  border-radius: 15%;
  width: 20%;
  display: inline-block;
  position: absolute;
  padding: 1% 5% 2% 5%;
  top: 18%;
  right: 5%;
  background-color: #242038;
  color: #8e8dbe;
}

.single-quote {
  width: 65%;
  font-size: 1.8em;
  font-style: italic;
  margin: auto;
}

.single-quote p {
  font-style: normal;
  text-decoration: underline;
}

.quoteTags {
  display: inline-block;
}

.ui.tabular.menu {
  border-bottom: 1px solid #7a306c;
}

.ui.tabular.menu .active.item {
  background: #7a306c;
  border-left: 1px solid #7a306c;
  border-right: 1px solid #7a306c;
  border-top: 2px solid #7a306c;
}

.ui.raised.segment,
.ui.raised.segments {
  background-color: #242038;
  color: #8e8dbe;
  padding: 5%;
}

.ui.violet.ribbon.label {
  position: absolute;
  top: 7.5%;
  left: -1.85%;
}

.emptyAlerts {
  width: 75%;
  margin: auto;
}

.is-active{
  background-color: #7a306c;
}

.active-view{
  font-weight: bold;
}