body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #7a306c;
  background-color: #8e8dbe;
  text-align: center;
  width: 100%;
}

a {
  color: #7a306c;
}

a:hover {
  text-decoration: none;
  color: #242038;
}

ul {
  list-style: none;
  text-align: left;
}

#quotes {
  padding: 1% 5%;
  width: 90%;
  margin: auto;
  vertical-align: top;
}

.add-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
  padding: 1%;
}

.form-container {
  background-color: #242038;
  color: #8e8dbe;
  border: 3px solid #8e8dbe;
  border-radius: 10%;
  padding: 1% 5% 2% 5%;
  flex: 4;
}

.tagsList {
  background-color: #242038;
  color: #8e8dbe;
  border: 3px solid #8e8dbe;
  border-radius: 10%;
  padding: 1% 5% 2% 5%;
  flex: 1;
}

.single-quote {
  width: 65%;
  font-size: 1.8em;
  font-style: italic;
  margin: auto;
  padding: 2%;
}

.quote-box{
  border: 2px dotted #242038;
  font-size: 1.45em;
  margin: 2% auto;
  padding: 1%;
  width: 75%;
}

.quoteTags {
  display: inline-block;
}

.emptyAlerts {
  width: 75%;
  margin: auto;
}

.is-active {
  background-color: #7a306c;
}

.active-view {
  font-weight: bold;
}

/* FORM */

.ui.form .fields {
  display: flex;
  justify-content: center;
}

.ui.form .field {
  display: inline-block;
}

.ui.form .field label {
  font-size: 1.15em;
  color: #8e8dbe;
  margin: 1vh;
}

.ui.form .field button {
  color: #7a306c;
  margin-top: 2vh;
}

/* Form select container */
.css-2b097c-container {
  font-size: 1.15em;
  color: #8e8dbe;
  width: 52%;
  margin: auto;
  padding: 1vh;
}

/* CARD */

.ui.card {
  width: 90%;
  margin: 2%;
}

.card-content {
  background-color: #242038;
  color: #8e8dbe;
  font-size: 1.15em;
  padding: 2%;
}

.card-content:hover {
  color: silver;
}

.ui.card > .content.extra {
  background-color: #242038;
  font-style: italic;
}

.ui.card > .content > .description {
  color: #8e8dbe;
}

/* EDIT QUOTE STYLES */

.edit-container {
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  padding: 3% 1%;
  width: 95%;
}

.edit-box {
  flex: 1;
  border: 2px dotted #7a306c;
  padding: 2% 0;
  margin: 1%;
}
